.HeroDetails {
    margin: 20px;
    padding: 10px;
    text-align: center;
}
.image-hero-detail {
    border-radius: 50px;
    width: 200px;
    padding-bottom: 10px;
}

.detail-card {
    padding-bottom: 20px;
}

h2 {
    padding-bottom: 10px;
}

.detail-card-stat {
    padding-top: 10px;
}

h3 {
    padding-bottom: 10px;
}
